body{
    background: url('images/travel-alone.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 12%;    
    background-size:100% auto;
}

.mail-form{
	text-align: right;
    /*padding-right: 125px;*/
    /*margin-top: 425px;*/
}

.font-class{
    color: white;
}

.form-control{
    width: 70%;
}

.well-width{
    width: 350px;
    position: absolute;
    top: 50%;
    right: 20%;
    background-color: transparent;
    border: none !important;
}

.mail-submit{
	margin-top: 6px;
}